* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    
    background-color: #f8f9fa; 
    color: #2d3436; 
    margin: 0;
}
header {
    background-color: #ffffff; 
    border-bottom: 1px solid #eaeaea;
    padding: 15px 10%;
    
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); 
    
    position: sticky;
    top: 0;
    z-index: 100;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
}
#hero {
    height: 80vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    text-align: center;
    padding: 100px 20px;
    min-height: 60vh;
}

#slogan {
    font-style: italic;
    color: #636e72; 
    font-size: 1.2rem;
    margin-top: 10px;
}
#statistics {
    display: flex;
    justify-content: center;
    padding: 60px 0;
    background-color: #ffffff; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); 
    gap: 100px;
    border-bottom: 1px solid #eee;
}
.members_count_container,.events_count_container {
    text-align: center;
}
#upcoming_events {
    text-align: center;
    padding: 60px 10%;
    background-color: #ffffff;
}
.btn_small {
    background-color: #0984e3; 
    color: #ffffff; 
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;      
   
    text-align: center;
}

.footer_main_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 5%; 
    box-sizing: border-box; 
    
}


.footer_nav_group {
    display: flex;
    align-items: center;
    gap: 40px; 
    justify-content: center;
}

.footer_links {
    display: flex;
    gap: 20px; 
}


.footer_brand h3, 
.join_btn {
    white-space: nowrap; 
}

.join_btn {
    padding: 10px 20px;
    
}


.footer_left{
    display: flex;
    flex:1;
    justify-content: flex-start;
}
.footer_right{
    display: flex;
    flex:1;
    justify-content: flex-end;
}

.footer_center {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
}

.footer_copyright {
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
}